.nav{
    display: flex;
    align-items: center;
    gap: var(--gap-md);
    padding: var(--padding-md);
    background-color: var(--secondary-bg);
    border-radius: var(--border-radius-lg);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color:aquamarine;
}

.arrow {
    color: var(--text-color);
    display: flex;
    margin-left: auto;
    background-color: var(--arrow-bg);
    border-radius: var(--border-radius-sm);
    height: 40px;
    width: 40px;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: var(--text-color);
    border-radius: var(--border-radius-md);
}





